@charset "utf-8";

/* 会社概要ページ */
ul.company_details {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

li.company_detail {
    display: flex;
    border-bottom: 1px solid #000;
}

li.company_detail:first-child {
    display: flex;
    border-top: 1px solid #000;
}

.detail_title {
    margin: 20px 30px;
    font-weight: bold;
    width: 15%;
    text-align: center;
}

.detail {
    margin: 20px 30px;
}

@media screen and (max-width:768px){
    ul.company_details {
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
    }
}