@charset "utf-8";

/* テクノロジーと思い */
.first_view {
    width: 100%;
    height: 70vh;
    padding-top: 90px;
    display:flex;
    align-items: center;
    background: url("../img/mv.png")no-repeat center;
    background-size: cover;
}

.titles {
    color: white;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

p.sub-title {
    font-size: 20px;
    text-align: center;
}

.thought {
    background-color: #000;
    color: white;
    padding: 70px;
    height: 35vh;
}

.thought-ttl {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

/* サービスページ */
.service {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

.business {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.business01 {
    text-align: center;
    width: 40%;
    margin-bottom: 20px;
}

img.service01 {
    width: 100%;
}

.ttl {
    font-size: 18px;
    font-weight: bold;
}

.service_button {
    text-align: center;
    margin-bottom: 50px;
}

a.btn {
    background-color: #d00;
    color: #fff;
    padding: 10px;
}

/* ニュースページ */
.news {
    background-color: #000;
    color: white;
    padding: 70px;
    height: 410px;
    text-align: center;
    margin: auto;
}

.news01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news02 {
    align-items: center;
    font-size: 20px;
}

a.btn2 {
    background-color: #d00;
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 20px;
}

tr {
    font-size: 18px;
    background-color: white;
    color: #000;
}

td {
    padding-right: 0px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

td.event {
    text-align: left;
    font-weight: bold;
}

/* 社員ブログページ */
.blog {
    text-align: center;
    margin: 40px;
    font-weight: bold;
    font-size: 22px;
}

.blogs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.blog01 {
    width: 30%;
}

img.Blog {
    width: 100%;
}

.date {
    font-size: 14px;
}

.heading {
    font-weight: bold;
    margin-bottom: 20px;
}

a.btn3 {
    background-color: #d00;
    color: #fff;
    padding: 10px 35px;
    font-weight: bold;
}

/* 会社概要と採用情報 */
.information {
    display: flex;
    width: 100%;
}

.company {
    background-color: #e00;
    width: 50%;
    height: 25vh;
    text-align: center;
    line-height: 25vh;
}

.recruit {
    background-color: #000;
    width: 50%;
    height: 25vh;
    text-align: center;
    line-height: 25vh;
}

a.informations {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* お問い合わせ */
.contact {
    background-color: #DDDDDD;
    margin-top: 35px;
    text-align: center;
    padding: 30px;
}

.contact01 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.contact02 {
    font-size: 14px;
    margin-bottom: 40px;
}

a.btn04 {
    color: white;
    background-color: #e00;
    padding: 10px 20px;
    font-size: 14px;
}

@media screen and (max-width:786px){
    .business{
        flex-direction: column;
    }

    .business01 {
        width: 85%;
        text-align: left;
    }
    
    .ttl {
        font-size: 18px;
        font-weight: bold;
    }

    .blogs{
        flex-direction: column;
    }

    .blog01 {
        width: 85%;
    }
}