@charset "utf-8";

/* ニュースページ */
.news {
    margin: 50px;
}

ul.news{
    width: 80%;
    margin: 50px;
}

li.object {
    display: flex;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.day {
    padding: 20px;
}

.event {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width:768px){
    ul.news {
    width: 90%;
    margin: 50px 30px;
    }

    .day {
    padding: 10px;
    }

    .event {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    }
}